body {
  /* Background color of aged newsprint,
     vis. the pages of Rolling Stone circa 1972 */
  background-color: #eedbbf;
  font-family: serif;
  max-width: 800px;
  margin: auto;
}
header {
  font-weight: bold;
  position: relative;
  width: auto;
  height: 1em;
  margin: 0.2em 8px;
}
.pageno {
  position: absolute;
  left: 0;
}
.issueno {
  position: absolute;
  right: 0;
}
main {
  display: block;
  border: 3px double black;
  padding: 2em;
  margin: 0 8px;
}
p, figure, blockquote, ol, ul {
  margin: 0;
}
p, figure blockquote {
  text-indent: 1em;
}
article {
  hyphens: auto;
  text-align: justify;
  /*margin: 20px 0;*/
}
.runin {
  font-variant: small-caps;
}
.intro {
  text-indent: 0;
}
.intro::first-letter {
  float: left;
  font-size: 7em;
  font-family: Bernard MT Condensed, Bernhard BdCn BT,
    Bernhard Bold Condensed, Bernhard Std Bold Condensed,
    serif;
  line-height: 100%;
  margin: -0.1em 0 -0.2em;
}
.conout {
  text-indent: 0;
  padding-left: 1em;
}
.conout + p {
  text-indent: 0;
}
.conout code, .smallcaps {
  font-style: normal;
  font-weight: normal;
  font-family: serif;
  font-variant: small-caps;
}
.program {
  white-space: pre-wrap;
  font-family: sans-serif;
  font-size: 0.8em;
  margin: 20px 0;
}
h1 {
  font-size: 4em;
  margin: 0;
}
h1, h2 {
  text-align: center;
  font-family: Bernard MT Condensed, Bernhard BdCn BT,
    Bernhard Bold Condensed, Bernhard Std Bold Condensed,
    serif;
}
h3 {
  text-align: center;
}
main a, header a {
  color: inherit;
  background-color: #ee0;
  text-decoration: inherit;
}
main a:hover, header a:hover {
  color: blue;
  text-decoration: underline;
}
.subtitle {
  font-family: inherit;
}
.chalkboard {
  /* The handwriting was strangely precise. */
  white-space: pre-wrap;
  font-family: SarcasticRobot Regular, monospace;
  color: white;
  background-color: black;
  padding: 0 1.5em;
  margin: 1em 0;
}

.quote figcaption {
  text-align: right;
}
ol {
  counter-reset: list;
  padding: 0 1em;
}
ol li {
  list-style: none;
  text-indent: 1em;
}
ol li:before {
  content: counter(list) ") ";
  counter-increment: list;
}
ul {
  list-style-position: inside;
  padding: 0;
}
ul li {
  text-indent: 1em;
}
.right {
  float: right;
  vertical-align: top;
}
.left {
  float: left;
  vertical-align: top;
}

@media screen and (max-width: 450px) {
  header {
    font-size: 8pt;
  }
  h1 {
    font-size: 32pt;
  }
}

/* An aborted experiment to emulate the multi-column look of the original
  Rolling Stone article. Mix in with the "page" class to reduce the amount of
  scrolling required. */

.columnal {
  -webkit-column-width: 15em;
  -moz-column-width: 15em;
  -ms-column-width: 15em;
  column-width: 15em;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-column-rule: 1px solid black;
  -moz-column-rule: 1px solid black;
  -ms-column-rule: 1px solid black;
  column-rule: 1px solid black;
}
